<section id="experience" class="experience section fade-in">
  <div class="experience_container">
    <h2 class="section-title">Experience</h2>

    <div class="job">
      <div class="job-info">
        <h3 class="job-title">Electrical Systems Engineer</h3>
        <p class="company-name">Monash Motorsport</p>
        <p class="job-dates">March 2023 - December 2024</p>
      </div>
      <div class="job-description">
        <p><a href="https://www.monashmotorsport.com/" target="_blank">Monash Motorsport</a> is a student team that designs,
        manufactures and races open-wheel electric racecars. During my time on the team, some of the things that I'm proud
        to have accomplished are:</p>
        <ul>
          <li>designed, assembled, and validated <b>5+ custom PCBs</b> for a Formula Student race car, to ensure high reliability, 
            and compliance to competition rulesets.</li>
          <li>streamlined <b>PCB assembly procedure</b>, <b>quality control guidelines</b>, along with <b>test specifications</b> for custom PCBs 
            in the car, introducing industry-standard practices, such as <b>IPC-610</b>, which were previously unexplored within the team.</li>
          <li>developed a <b>Python-based Graphical User Interface</b>, to serve as a user-friendly dashboard for visualisation of 
            real-time and historical data logged by the Battery Management System, as well as enabling intuitive control of the Battery Management System</li>
        </ul>
      </div>
    </div>

    <div class="job">
      <div class="job-info">
        <h3 class="job-title">Student Reliability Test Engineer</h3>
        <p class="company-name">Bosch</p>
        <p class="job-dates">December 2021 - November 2022</p>
      </div>
      <div class="job-description">
        <p>I took on a year-long, full-time position at <a href="https://www.bosch.com.au/" target="_blank">Bosch</a> the summer of 2021.
        Looking back, it was a very rewarding year, where I:</p>
        <ul>
          <li>worked in a <b>cross-disciplinary international team</b> on the design and validation of a Body Control Module, with a focus
             on <b>developing test scripts</b> for automated test systems to validate product reliability in adherence to industry standards and customer specification.</li>
          <li>employed <b>Python and Pandas</b> to perform <b>data analysis</b> on extensive test result datasets collected, ranging up to terabytes, and 
            communicated findings through <b>interactive data visualisation</b>.</li>
          <li>developed multiple test data and report processing tools, which <b>accelerated the workflow</b> for engineers and technicians 
            engaged in other projects.</li>
        </ul>
      </div>
    </div>

  </div>
</section>
