<section id="intro" class="intro section">
    <div class="intro-container">
      <div class="intro-left">
        <h1>Hi, I'm <span class="name-highlight">Robin Li!</span></h1>
        <p class="title">Mechatronics Engineer living in Melbourne, Australia</p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/robin-li-yq/" target="_blank"><img src="assets/images/linkedin.svg" alt="LinkedIn" /></a>
          <a href="https://github.com/Roow" target="_blank"><img src="assets/images/github.svg" alt="GitHub" /></a>
          <a href="mailto:hello@robinli.xyz"><img src="assets/images/email.svg" alt="Email" /></a>
        </div>
      </div>
      
      <div class="intro-right">
        <p>I am a recent Graduate Mechatronics Engineer. I enjoy working with electronics, software, and everything in between.</p>

        <p>More recently, I have been heavily involved with <a href="https://www.monashmotorsport.com/" target="_blank">Monash Motorsport</a>, a student team competing in the Formula Student competition,
             where I designed and developed custom PCBs and electrical systems. I am currently working on the design of a Silicon Carbide
              (SiC) tractive inverter for our Formula Student electric race car.</p>
        
        <p>You can find my professional experiences and projects that I've worked on below!</p>
      </div>
    </div>
  </section>
  