<section id="projects" class="projects section fade-in">
    <div class="projects_container">
      <h2 class="section-title">My Projects</h2>
      
      <div class="project">
        <h3 class="project-title">Custom SiC traction inverter</h3>
        <p class="project-description">For the final year project of my honours degree, I designed  <a href="/assets/files/FYP.pdf" target="_blank">Custom SiC Traction Inverter</a> This project is by far the most difficult that I've attempted</p>
      </div>
  
      <div class="project">
        <h3 class="project-title">Co-founding a computer business</h3>
        <p class="project-description">In 2020, I started a business selling computers with my friend, we called it 
          <a href="https://www.facebook.com/carpiocomputers/" target="_blank">Carpio Computers</a>. 
        
        </p>
      </div>
  
      <div class="project">
        <h3 class="project-title">This Website!</h3>
        <p class="project-description"><a href="https://github.com/Roow/Roow.github.io" target="_blank">Github pages</a></p>
      </div>
    </div>
  </section>
  