<section id="projects" class="projects section">
    <div class="projects_container">
      <h2 class="section-title">My Projects</h2>
      
      <div class="project">
        <h3 class="project-title">Custom SiC traction inverter</h3>
        <p class="project-description">This is a brief description of Project 1, explaining its features, technologies used, and any other relevant details.</p>
      </div>
  
      <div class="project">
        <h3 class="project-title">Co-founding a computer business</h3>
        <p class="project-description">This is a brief description of Project 2, highlighting the key aspects and goals of the project.</p>
      </div>
  
      <div class="project">
        <h3 class="project-title">This Website!</h3>
        <p class="project-description">Description of Project 3, showcasing technologies like HTML, CSS, JavaScript, or any other tools you used.</p>
      </div>
    </div>
  </section>
  