// colours
$blue: #0073e6;
$white: #f9f9f9;
$light-grey: #ddd;
$grey: #6b6b6b;
$dark-grey: #555;
$black: #333;

// media queries
$small-screen_pixel: 768px;
@mixin small-screen {
  @media (max-width: $small-screen_pixel) {
    @content;
  }
}

@mixin large-screen {
  @media (min-width: $small-screen_pixel) {
    @content;
  }
}

// CSS reset
*, *::before, *::after {
  box-sizing: border-box;
}

// remove margin
* {
  margin: 0;
}

// font
:root {
  font-family: 'Inter', sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { 
    font-family: 'InterVariable', sans-serif; 
  }
}

/* Base styling for body */
body {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1.5;
  color: $black;
  background-color: $white;
}

/* Heading styles */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem; /* Added padding below headings */
}

/* Paragraph styles */
p {
  font-size: 1rem;
  margin-bottom: 1.5rem; /* Increase margin for spacing between paragraphs */
}

/* Link styles */
a {
  color: $blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

/* Container for overall layout */
.container {
  max-width: 1200px;
  padding: 2rem;
  margin: 0 auto;
}

/* Section styling */
.section {
  padding: 4rem 0; /* Add vertical padding to sections */
}

/* List styles */
ul, ol {
  padding-left: 2rem; /* Indent lists more */
  margin-bottom: 1.5rem;
}

li {
  margin-bottom: 0.75rem;
}

/* Image styles */
img {
  max-width: 100%;
  height: auto;
}

/* Animation */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  visibility: hidden;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  will-change: opacity, visibility;
  
  &.visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }
}
