.experience {

  .experience-container {
    max-width: 1200px;
    width: 100%;
  }

  .section-title {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 3rem;
    color: $blue;
  }

  .job {
    margin-bottom: 2.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $light-grey;

    // flexbox
    display: flex;
    justify-content: space-between;
    @include small-screen {
      flex-direction: column;
      align-items: left;
    }

    @include large-screen {
      flex-direction: row;
      align-items: center;
    }

    .job-info {
      flex: 1;

      @include small-screen {
        margin-bottom: 1rem;
      }

      @include large-screen {
        max-width: 45%;
        align-self: flex-start;
        text-align: left;
      }

      .job-title {
        font-size: 1.5rem;
        color: $black;
      }

      .company-name {
        font-size: 1.25rem;
        color: $grey;
        margin: 0.5rem 0;
      }

      .job-dates {
        font-size: 0.875rem;
        color: $grey;
      }
    }

    .job-description {
      flex: 1;

      @include small-screen {
        // nothing
      }

      @include large-screen {
        max-width: 50%;
      }
      
      font-size: 1rem;
      color: $dark-grey;
    }
  }
}
