/* Intro Section */
.intro{
    min-height: 50vh;
  
    .intro-container {
      padding: 3rem 0;
      max-width: 1200px;

      // flexbox
      display: flex;
      justify-content: space-between;

      @include small-screen {
        flex-direction: column;
        align-items: left;
      }

      @include large-screen {
        flex-direction: row;
        align-items: center;
      }

      .intro-left {
        flex: 1;
        font-size: 2rem;

        @include small-screen {
          padding: 1rem;
          min-height: 100vh;
        }

        @include large-screen {
          max-width: 45%;
        }
  
        .name-highlight {
          color: $blue; // Make the name stand out with a color
        }
      }
  
      .intro-right {
        flex: 1;
        text-align: left;
        font-size: 1rem;
        padding: 1rem 0;

        @include small-screen {
          padding: 1rem;
        }

        @include large-screen {
          max-width: 50%;
        }
      }
    }
  
    .title {
      font-size: 1.25rem;
      margin-top: 0.5rem;
      color: $grey;
    }
  
    .social-icons {
      margin-top: 10rem;
  
      a {
        margin-right: 1rem;
      }
  
      img {
        width: 40px;
        height: 40px;
      }
    }
  }