.projects-section {
    padding: 4rem 0;
  
    .section-title {
      text-align: left;
      font-size: 2rem;
      margin-bottom: 3rem;
      font-family: 'Poppins', sans-serif;
      color: #0073e6;
    }
  
    .project {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2.5rem;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid #ddd;
  
      .project-title {
        flex: 1;
        max-width: 40%;
        font-size: 1.5rem;
        color: #1a1a1a;

      }
  
      .project-description {
        flex: 1;
        max-width: 50%;
        font-size: 1rem;
        color: #555;
        margin: 0.5rem 0;
      }
    }
  }
  